.bodyWrapper{

	padding: $wrapperPadding 0px;

}

.col2_5{
	width: 25%;
	float: left;
    vertical-align: top;
    left: 0;
    min-height: 0.5px;
    
}

/*---------------About distic section startes---------*/

$aboutDictictSectionBg: #f5f2f2;
$aboutDictictSectionHeadingSize: 1.6em;
$aboutDictictSectionHeadingPadding: 10px;


/*------------- Distict Info section -----------*/

$vc:#71a330;
$mc:#df771a;
$pc:#f75556;

.distictInfo{

	.villege, .mc, .ps{
		padding-bottom: 5px;
		display: block;
		overflow: hidden;
	}
	.villege{
		.distictInfoIcon{
			background: $vc;
			color: #fff;

		}
		.distictInfoTest{
			color:$vc;
		}
	}
	.mc{
		.distictInfoIcon{
			background: $mc;
		}
		.distictInfoTest{
			color:$mc;
		}
	}
	.ps{
		.distictInfoIcon{
			background: $pc;
		}
		.distictInfoTest{
			color:$pc;
		}
	}

	.distictInfoIcon{
		width: 100px;
		height: 90px;
		float: left;
		margin-right: 10px;

		span{
			font-size: 60px;
			color:#fff;
			display: block;
			text-align: center;
			margin:15px 0px;
		}


			svg{
				-webkit-transform: scale(2);
				   -moz-transform: scale(2);
				    -ms-transform: scale(2);
				     -o-transform: scale(2);
				        transform: scale(2);
				        display: block;
				        margin:25px auto;
				        fill: #fff;
			}
			svg *{
				fill: #fff;
			}

		overflow: hidden;
	}

	.distictInfoTest{
			padding-top: 8px;
		span{
			font-size: 2.4em;
			font-weight: 700;
			display: block;
			padding-bottom: 0px;
		}
	}
}

/*------------- Distict festival section -----------*/

.distictbgbox{
	padding: 30px 25px 10px;
	.festivalsImg{
		margin-top: 20px;
		img{width: 100%;}
	} 
	background: $aboutDictictSectionBg;
	color:$black;
	margin-left: 25px;
	min-height: 275px;
	h3{
		font-size: $aboutDictictSectionHeadingSize;
		padding-bottom: $aboutDictictSectionHeadingPadding;
		text-transform: uppercase;

	}
	ul{
		list-style-type: none;
		li{
			display: block;
			margin-bottom: 10px;
		&:last-child{margin-bottom: 0px;}
			a{
				font-size: 1.07em;
				color: 	$black;
				display: block;
				padding-left: 40px;
				position: relative;
				min-height: 30px;
				line-height: 30px;
				span{
					position: absolute;
					left: 0;
					width: 30px; height: 30px;
					border-radius: 50%;
					text-align: center;
					line-height: 30px;
					color: #fff;
					font-size: 23px;
					svg{
						fill:#fff;
						-webkit-transform: scale(0.7);
						   -moz-transform: scale(0.7);
						    -ms-transform: scale(0.7);
						     -o-transform: scale(0.7);
						        transform: scale(0.7);
						        width: 100%;
						        height:100%;
					}
					svg *{
						fill:#fff;
					}
					svg *[fill=none]{
						fill:none;
						stroke:#fff;
					}
				}
			}
		&.icoTele a span{
			background-color: #71a330;

		}
		&.icoadhar a span{
			background-color: #df771a;
			
		}
		&.iconotice a span{
			background-color: #cf246c;
			
		}
		&.icohelpline a span{
			background-color: #1a96c2;
			
		}
		&.icoelectionCommision a span{
			background-color: #2bbac0;
			
		}
		}
	}
}

/*---------------About distic section Ends---------*/


/*--------About Section ------------*/
$aboutDictictBg:#fff;
$aboutDictictColors:#000;
.aboutSection{
	.row{
		background: #f5f2f2;
		padding: 25px;
	}


}

.aboutDictictWrapper{width: 40%; float: left; background: $aboutDictictBg;}
.tabWrapper{width: 40%; float: left; padding-left: 30px;}

.aboutDictict{
		
		color:$aboutDictictColors;
		 padding: 25px;
		h3, h4{
			text-transform: uppercase;
			padding-bottom: 15px;
		}
		h3{
			font-size: 1.7em;
		}
		h4{margin-top: 25px;
		font-size: 1.5em;}

}



/*--------Minister Profile -------*/
.khowMinister{width: 18%; float: right;}
.khowMinister{background: #fff;

}
.khowMinisterBox{
	border-bottom:1px solid $borderColor;
	padding: 12px 30px;
	text-align: center;
	&:last-child{border-bottom: 0px;}
	.khowMinisterBoxImg{width: 65%; margin:0 auto;
		img{
			width: 100%;
		}
	}
	.MinisterProfile{padding-top: 5px;
		.Pname{color: #1b1b1b; font-weight: 600; display: block;}
		.Pdesg{color: #1b1b1b; font-weight: 300; display: block;}

	ul{
		padding-top: 4px;
		li{
			display: inline-block;
			a{
				span{
					display: inline-block;
					padding-right: 1px;
					font-size: 1.2em;
					vertical-align: middle;
				}
			}		}
	}
	}

}



/*---------------Section Find Servise -----------------*/


	$color1: #bb4fd2;

	$color2: #0a95dd;

	$color3: #1cc327;

	$color4: #f08232;

	$color5: #f75556;

	$color6: #e69941;

	$color7: #1fbba6;

	$color8: #0687ca;
	

.findServicesWrapper{width: 55%;}
.findServices{
	h3{
		text-transform: uppercase;
    	padding-bottom: 15px;
    	color: $headingColor;
    	font-size: 1.7em;
	}
	.findServicesBoxs{
		text-align: left;
		margin-left: -10px;
		margin-right: -10px; 
	}
	.findServiveBox{
		display: inline-block;
		text-align: left;
		padding: 14px 10px;
		width: 22%;
		text-align: left;
		vertical-align: top;
		margin:10px;
		@include border-radius(4px);
		&.color1{
			background: $color1;
		}
		&.color2{
			background: $color2;
		}
		&.color3{
			background: $color3;
		}
		&.color4{
			background: $color4;
		}
		&.color5{
			background: $color5;
		}
		&.color6{
			background: $color6;
		}
		&.color7{
			background: $color7;
		}
		&.color8{
			background: $color8;
			.findServiveBoxicon{
				font-size: 2em;
			}
		}
		.findServiveBoxicon{
			width: 45px;
    		height: 45px;
			background: rgba(0,0,0,0.1);
			@include border-radius(50%);
			font-size: 3em;
			display: inline-block;
			vertical-align: middle;
			color: #fff;
			text-align: center;
			line-height: 45px;
			margin-right: 5px;
		}
		.findServiveBoxText{
			color: #fff;
			font-size: 1em;
			display: inline-block;
			vertical-align: middle;
		}
	}
}


/*--------Public Utilities-------------*/
.publicUtilitiesWrapper{
	width: 42%;
	h3{
		text-transform: uppercase;
    	padding-bottom: 15px;
    	color: $headingColor;
    	font-size: 1.7em;
	}
}

.publicUtilities{
	a{    display: inline-block;
    position: relative;
    width: 44%;
    margin-right: 5%;
    margin-bottom: 10px;
		
		.publicUtilitiesName{
			display: inline-block;
			vertical-align: top;
			font-size: 1.1em;
			font-weight: 700;
			background: #fff;
			padding: 8px 10px 4px 0px;
			position: relative;
			z-index: 2;
			float: left;
		}
		.publicUtilitiesCount{
			display: inline-block;
			vertical-align: top;
			width: 36px;
			height: 36px;
			color: #fff;
			text-align: center;
			line-height: 36px;
			@include border-radius(50%);
			float: right;
			position: relative;
			z-index: 2;
		}
	&.color1 .publicUtilitiesCount{
		background: #f08232;
	}
	&.color2 .publicUtilitiesCount{
		background: #f75556;
	}
	&.color3 .publicUtilitiesCount{
		background: #0687ca;
	}
	&.color4 .publicUtilitiesCount{
		background: #e69941;
	}
	&.color5 .publicUtilitiesCount{
		background: #1fbba6;
	}
	&.color6 .publicUtilitiesCount{
		background: #1cc327;
	}
	&.color7 .publicUtilitiesCount{
		background: #bb4fd2;
	}
	&.color8 .publicUtilitiesCount{
		background: #0687ca;
	}
	&:before{
		content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    margin-top: 1px;
    left: 0px;
    z-index: 1;
	}
	&.color1:before{
		background: #f08232;
	}

	&.color2:before{
		background: #f75556;
	}

	&.color3:before{
		background: #0687ca;
	}

	&.color4:before{
		background: #e69941;
	}

	&.color5:before{
		background: #1fbba6;
	}

	&.color6:before{
		background: #1cc327;
	}

	&.color7:before{
		background: #bb4fd2;
	}

	&.color8:before{
		background: #0687ca;
	}

	}
}






/*---------important Links--------*/
.importantLinksWrapper{
	width: 42%;
}
#importantLinks{

	h3{
		color: #fff;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: 700;
		span{font-size: 2.5em;
			vertical-align: middle;}
	}

	.list-style{
		list-style-type:circle;
		font-size: 1.1em;
		 padding: 15px;
	    display: block;
	    background: #141139;
		&.colmn2{
			column-count:2;
		}
		li{
			display: block;
			vertical-align: top;
			color: #cdcccc;
			list-style-type:circle;
			background: url(../images/icoBullete.png) no-repeat left 5px;
			padding-left: 18px;
			padding-bottom: 12px;
			a{color: #cdcccc;
				font-weight: 400;}

		}
	}

}


/*---Helpline---*/

.helpline{
	padding-top: 20px;
	h3{
		color: #fff;
		font-size: 1.2em;
		text-transform: uppercase;
		font-weight: 700;
		position: relative;
		padding-left: 55px;
		display: inline-block;
		width: 30%;
		span{font-size: 1.9em;
			vertical-align: middle;
			text-align: center;
			line-height: 45px;
			position: absolute; left: 0px; top: 0; display: block; width: 45px; height: 45px; border-radius: 50%; border: 2px solid #fff;}
	}

	.list-style{
		list-style-type: circle;
    font-size: 1em;
    padding: 0px;
    display: inline-block;
    width: 69%;
    vertical-align: top;
    padding-top: 4px;
    padding-left: 10px;
		&.colmn2{
			column-count:2;
		}
		li{
			display: block;
			vertical-align: top;
			color: #cdcccc;
			padding-bottom: 5px;
			a{color: #cdcccc}

		}
	}
}