<footer id="footer">
  <div class="container">
    <div class="footerMenu">
      <ul>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Website Policies</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Web Information Manager</a></li>
        <li><a href="#">Visitors' Analytics</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Disclaimer</a></li>
      </ul>
    </div>
    <div class="copyRights">
      <div class="NicLogo"> <img src="master/images/nicLogo.png"> </div>
      <div class="copyRightsText">
        <p>The Site Designed and Maintained by :: Government of India, Ministry of Communications & Information Technology, National Informatics Centre</p>
      </div>
    </div>
  </div>
</footer>
<script src="master/js/jquery-2.1.1.min.js"></script>
<script src="master/js/ui/jquery.flexslider.js"></script>
<script src="master/js/easyResponsiveTabs.js"></script>
<script src="master/js/jquery.fancybox.js"></script>
<script src="master/js/style.switcher.js"></script>
<script src="master/js/mega-menu.js"></script>
<script src="master/js/custom.js"></script>
