<section id="topBar" class="wrapper">
  <div class="container">
    <div class="push-left">
      <div class="govBranding">
        <ul>
          <li><a href="#">state in reg. language</a></li>
          <li><a href="#">Government of State Name English</a></li>
        </ul>
      </div>
    </div>
    <div class="push-right">
      <div id="accessibility" >
        <ul id="accessibilityMenu">
          <li><a href="#SkipContent"><span class="icon-skip-to-main"></span></a></li>
          <li><a href="#"><span class="icon-search"></span></a>
            <ul class="goiSearch">
              <li>
                <input type="text">
                <button><span class="icon-search"></span></button>
              </li>
            </ul>
          </li>
          <li><a href="#"><span class="icon-social"></span></a>
            <div class="socialIcons">
              <ul>
                <li><a href="#"><img src="master/images/ico-facebook.png"></a></li>
                <li><a href="#"><img src="master/images/ico-twitter.png"></a></li>
                <li><a href="#"><img src="master/images/ico-youtube.png"></a></li>
              </ul>
            </div>
          </li>
          <li><a href="#"><span class="icon-sitemap"></span></a></li>
          <li>
            <div class="textSizing">
              <ul>
                <li><a href="#">A-</a></li>
                <li><a href="#">A</a></li>
                <li><a href="#">A+</a></li>
                <li class="highContrast dark"><a href="#">A</a></li>
                <li class="highContrast light"><a href="#">A</a></li>
              </ul>
            </div>
          </li>
          <li>
            <select>
              <option>हिन्दी में</option>
              <option>In English</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="wrapper header-wrapper">
  <div class="container header-container">
    <div class="logo"><div class="emblem"><img src="master/images/emblem-dark.png"></div><a href="#"><strong>जिले का नाम</strong> <span>Department Name</span></a></div>
    <a class="toggle-nav-bar" href="javascript:void(0);"> <span class="menu-icon"></span> <span class="menu-text">Menu</span> </a>
    <div class="header-right clearfix">
      <div class="right-content clearfix">
        <div class="float-element"><a class="sw-logo" title="" href="#" ><img src="master/images/swatchBharat.jpg" height="85" width="177"></a> </div>
      </div>
    </div>
  </div>
</section>

<!--<nav class="wrapper nav-wrapper">
  <div class="container nav-container">


    <ul id="nav" class="menu">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About Us </a></li>
      <li><a href="#">Branches</a>

      </li>
      <li><a href="#">Office</a></li>
      <li><a href="#">Programs</a></li>
      <li><a href="#">Circular & Notices</a></li>
      <li><a href="#">e-Citizen</a></li>
      <li><a href="#">Contacts</a></li>

      <li class="moreNav"><a href="#"><span class="icon-menu"></span>More</a></li>

    </ul>
  </div>
</nav>-->

<section class="wrapper megamenu-wraper">
  <div class="container">
    <nav class="main-menu">
      <ul class="nav-menu">
        <li class="nav-item"> <a href="">Home</a> </li>
        <li class="nav-item"> <a href="">About Us</a>
          <div class="sub-nav">
            <ul class="sub-nav-group">
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a>

              </li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item"><a href="">Branches</a></li>
        <li class="nav-item"><a href="#">Office</a></li>
        <li class="nav-item"><a href="#">Circular & Notices</a></li>
        <li class="nav-item"><a href="#">e-Citizen</a>
          <div class="sub-nav">
            <ul class="sub-nav-group">
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a>

              </li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item"><a href="#">DMU</a></li>
        <li class="nav-item"><a href="#">Contacts</a></li>
        <li class="nav-item"><a href="#">Menu 1</a></li>
        <li class="nav-item"><a href="#">Menu 2</a>
        	<div class="sub-nav">
            <ul class="sub-nav-group">
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a>

              </li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item"><a href="#">Menu 3</a></li>
        <li class="nav-item"><a href="#">Menu 4</a></li>
        <li class="nav-item"><a href="#">Menu 5</a>
        	<div class="sub-nav">
            <ul class="sub-nav-group">
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a>

              </li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item"><a href="#">Menu 6</a></li>
        <li class="nav-item"><a href="#">Menu 8</a>
        	<div class="sub-nav">
            <ul class="sub-nav-group">
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a>

              </li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
              <li class="nav-item"><a href="">Lorem ipsum dolor sit amet SM1</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item"><a href="#">Menu 9</a></li>



      </ul>
    </nav>
  </div>
</section>


<div id="overflowMenu">

	<div class="ofMenu">
    	<ul>

        </ul>
    </div>
    <a href="#" class="closeMenu"><span class="icon-close"></span> Close</a>
</div>
