<section id="footerScrollbarWrapper">
  <div class="container">
    <div id="footerScrollbar" class="flexslider">
      <ul class="slides">
        <li> <img src="master/images/footer/data-gov.png"> </li>
        <li> <img src="master/images/footer/incredible-india.png"> </li>
        <li> <img src="master/images/footer/india-gov.png"> </li>
        <li> <img src="master/images/footer/makeinindia.png"> </li>
        <li> <img src="master/images/footer/mygov.png"> </li>
        <li> <img src="master/images/footer/open-data.png"> </li>
        <li> <img src="master/images/footer/open-gov.png"> </li>
        <li> <img src="master/images/footer/pmnrf.png"> </li>
      </ul>
    </div>
  </div>
</section>
